@import url(https://fonts.googleapis.com/css2?family=Chewy&display=swap);
svg{font-family:Chewy,sans-serif;width:120px;height:50px}
svg text{animation:stroke 3s infinite alternate;stroke-width:2;stroke:#00d81f;font-size:50px}
@keyframes stroke{
0%{fill:rgba(255,255,255,0);stroke:#fff;stroke-dashoffset:25%;stroke-dasharray:0 50%;stroke-width:2}
70%{fill:rgba(255,255,255,0);stroke:#fff}
80%{fill:rgba(255,255,255,0);stroke:#fff;stroke-width:3}
100%{fill:rgba(255,255,255,1);stroke:rgba(0,216,31,0);stroke-dashoffset:-25%;stroke-dasharray:50% 0;stroke-width:0}
}
.wrapper{background-color:#00000000}
.glitch{position:relative;font-size:20px;font-weight:700;color:#fff;letter-spacing:3px;z-index:1}
.glitch:after,.glitch:before{display:block;content:attr(data-text);position:absolute;top:0;left:0;opacity:.8}
.glitch:before{animation:glitch-it .3s cubic-bezier(.25,.46,.45,.94) both infinite;color:#0ff;z-index:-1}
.glitch:after{animation:glitch-it .3s cubic-bezier(.25,.46,.45,.94) reverse both infinite;color:#f0f;z-index:-2}
@keyframes glitch-it{
0%{transform:translate(0)}
20%{transform:translate(-2px,2px)}
40%{transform:translate(-2px,-2px)}
60%{transform:translate(2px,2px)}
80%{transform:translate(2px,-2px)}
to{transform:translate(0)}
}
body{touch-action:pan-y}
#container{position:absolute;top:0;left:0;right:0;bottom:0;background:#222;display:grid;grid-template-rows:60% 40%}
#maze{position:absolute;width:340px;height:240px;top:30vh;left:50%;transform:translate(-50%,-50%)}
.controls,.mbox{height:100%;background:#222;display:grid}
.buttons{width:210px;height:140px;outline:0;background:#222;align-self:center;justify-self:center;display:grid;grid-template-rows:70px 70px;grid-template-columns:70px 70px 70px}
.btn{width:60px;height:60px;border:2px #fff solid;border-bottom:2px #fff solid;align-self:center;justify-self:center;cursor:pointer;border-radius:8px;display:grid}
.chevron{height:20px;width:20px;align-self:center;justify-self:center;color:#222;font-size:20px;line-height:20px;text-align:center;color:#fff}
#bu{grid-column-start:2}
#bd{grid-column-start:2;grid-row-start:2}
#bl{grid-column-start:1;grid-row-start:2}
#br{grid-column-start:3;grid-row-start:2}
#home,#thingie{position:absolute;top:100px;left:100px;width:20px;height:20px;border-radius:20px}
.emo{position:absolute;top:4px;left:1px;width:13px;height:13px;border-radius:20px;font-size:15px;line-height:15px;text-align:left}
.barrier{position:absolute;background:#fff}
#top{top:20px;left:20px;width:300px;height:2px}
#bottom{top:220px;left:20px;width:302px;height:2px}
button{display:inline-block;border:none;padding:none;margin:0;outline:0;-webkit-appearance:none;-moz-appearance:none;background:0 0;-webkit-tap-highlight-color:transparent}
button:focus,button:hover{-webkit-appearance:none}
button:focus{outline:0}
button:active{transform:scale(1);-webkit-appearance:none}